@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
}

/* Header Start */ 
header {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #FFF6C3;
    top: 0;
    position: sticky;
    z-index: 10;
    display: flex;
}

.logo {
    display: flex;
    margin-right: 165px;
    margin-top: -3px;
}

.logo-sumbar {
    width: 55px;
    height: 62px;
    margin: 15px;
    cursor: pointer;
}

.judul {
    /* float: right; */
    margin-left: 10px;
    margin-top: -1px;
    cursor: pointer;
}

.prov {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -10px;
}

.desc {
    float: left;
    font-size: 14px;
}

nav {
    /* float: right; */
    margin-top: -10px;
    margin-left: 150px;
    position: sticky;
}

nav li {
    display: inline;
    list-style: none;
}

nav a {    
    margin: 0px 15px;
    text-decoration: none;
    /* float: left; */
    font-weight: 400;
    transition: 0.2s;
    color: black;
}

nav a:visited {
    color: black;
    transition: 0.2s;
}

nav a:hover {
    font-weight: bold;
    transition: 0.2s;
}

ul.navbar li.icon {
    display: none;
}

/* Header End */ 

/* Jumbotron Start */
.jumbotron {
    height: 550px;
    padding: 0;
    background-size: cover;
    background-position: center;
    margin-bottom: 0px;
}

.jumbotron h1 {
    color: white;
    text-align: center;
    text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.5);
    font-size: 100px;
    padding-top: 100px;
    margin-bottom: -180px;
}

.jumbotron .banner {
    margin-top: 0;
}

/* Jumbotron End */

/* Content Start */
.container {
    margin: 20px;
}
/* Content End */

@media (max-width: 1000px){
    /* Header Start */
    .logo {
        display: flex;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: -3px;
    }

    nav {
        margin-left: 0px;
    }

    .judul {
        margin: 0px;
    }

    ul.navbar li {
        display: none;
    }

    ul.navbar li.icon {
        display: inline;
    }

    ul.navbar.responsive {
        position: relative;
    }

    ul.navbar.responsive li.icon {
        position: relative;
        right: 0;
        top: 0;
    }

    ul.navbar.responsive li {
        display: inline;
        text-align: center;
        padding-bottom: 5px;
    }

    ul.navbar.responsive li a {
        display: block;
        text-align: center;
    }

    /* Header End */

    /* Jumbotron Start */
    .jumbotron h1 {
        font-size: 90px;
        padding-top: 120px;
    }
    /* Jumbotron End */
}

@media (max-width: 750px){
    /* Header Start */
    .logo {
        margin-left: 0;
    }

    .logo-sumbar {
        width: auto;
        height: 45px;
        margin: 15px;
        cursor: pointer;
    }
    
    .prov {
        font-size: 15px;
    }
    
    .desc {
        font-size: 12px;
    }

    nav a {
        font-size: small;
    }

    /* Header End */

    /* Jumbotron Start */
    .jumbotron {
        height: 500px;
    }

    .jumbotron h1 {
        font-size: 65px;
        padding-top: 150px;
    }

    .jumbotron .banner {
        font-size: 65px;
        padding-top: 50px;
    }
    /* Jumbotron End */
}